.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  background-color: orange;
}

@media screen (max-width: 900px) {
  .header {
    padding: 5px 25px 5px 25px;
  }
}