.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  background-color: orange;
}

.Link {
  text-decoration: none;
  color: white;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.outup {
  background-color: #e83a3a; 
  border-radius: 3px;
  color: white;
}

/* 
@media screen (max-width: 900px) {
  .header {
    padding: 5px 25px 5px 25px;
  }
} */